.cartaz {
background-color: rgb(78, 78, 78);
}
.avaliacoes{
  background-color: rgb(78, 78, 78);
}
.novidades{
  background-color: rgb(78, 78, 78);
}
.sobre{
  background-color: rgb(78, 78, 78);
}
.editorial{
  background-color: rgb(78, 78, 78);
}
.populares{
  background-color: rgb(131, 8, 25);
  }